body{
    background-color:rgb(255, 255, 0);
}
p1{
    color:black;
    font-weight: 200; 
    font-family: Courier, 'Lucida Console', monospace;
}
p{
    color:black;
    font-weight: 300; 
    font-family: Courier, 'Lucida Console', monospace;
}

div{
    max-width: 600px;
}
